# Environment (development, production, test)
NODE_ENV=development

# Application Port (1 - 65535)
APP_PORT=8080

# MongoDB Connection String (Must start with mongodb:// or mongodb+srv://)
MONGODB_URI=mongodb://localhost:27017

# MongoDB Database Name
MONGODB_DB_NAME=ar_imms_core

OTEL_SERVICE_NAME=core-backend
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces